#container {
	height:100%;
	width:100%;
	position: relative;
	margin:0;
	overflow-x: hidden;
}

#bottom{
	height: 230px;
	width:100%;
	margin-top: 10px;
}

#content{
	min-height:100%;
	width:100%;
	margin-top: 3%;
	background-color: white;
}
html, body{
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
/* INDEX PAGE */

  .slides{
	  width: 100%;
	  height: auto;
	  border: solid black 2px;
	  margin-top: 1%;
  }
  .info-lay {
    width: 100%;
    min-height: 45vh;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center; 
	align-items: center;
}

.left-info {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5vh; 
}

.left-info-style {
    text-align: right; 
	font-family:"Monaco", monospace ;
	font-size: 1.2em;
	padding: 10px;

}
.right-info {
    width: 50%;
    display: flex;
    justify-content: flex-start; 
	align-items: center;
}

#map { 
	top: 0;
	bottom: 0; 
	width: 60%;
	height:40vh;
	border: 1px solid black;
	}

.button-image-container {
    display: flex;
	justify-content: center;
    align-items: center; 
    width: 100%;
    padding: 1em; 
	flex-wrap: wrap;
	background-color: #F8F8F8;
}
.left-img, .right-img, .menuButton{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 1 auto;
}
.left-img img, .right-img img {
    height: 150px;
	width:150px;
	margin: 0 2vh;
	transform: rotate(-15deg);
}
.right-img img {
    transform: rotate(15deg); 
}
.menuButton{
	margin: 0 10vh;
}
.menu-butt-style{
	background-color: #C60C30;
	color: white;
	font-size: 2em;
	padding: 10px;
	font-family:"Monaco", monospace ;
	text-align: center;
	border: indianred;
}
.menu-butt-style:hover{
	background-color: indianred;
}
  
  #myImg:hover {opacity: 0.7;}
  
  
  .modal {
	display: none; 
	position: fixed; 
	z-index: 100; 
	padding-top: 10px; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.9); 
	justify-content: center;
	align-items: center;
  }
  
  .modal-content {
	margin: auto;
	display: flex;
	width: 70%;
	max-width: 550px;
  }
  
  .modal-content{
	animation-name: zoom;
	animation-duration: 0.6s;
  }
  
  @keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
  }
  
  .close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
  }

  .close:hover,
  .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
  }
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  .prev{
	left: 0;
	border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
  }
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 24%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.index-bottom{
	background-color: indianred;
	width: 100%;
	height: 5%;
	margin-top: 10px;
}
.ann-lay{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3%;
}
.announce{
	background-color:indianred;
	color:white;
	text-align: center;
	font-size: 1.5em;
	font-family:"Monaco", monospace ;
	text-decoration-line:underline ;
	height:50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* opacity: 0;
    transform: translateX(-100%); */
    transition: all 0.5s ease-out;
}
.announce.slide-in {
    opacity: 1;
    transform: translateX(0);
}
/* HEADER MENU*/
.header{
	height:7%;
	width:100%;
	position: fixed;
	top:0;
	overflow:hidden;
	background-color: white;
	z-index: 99;
}
.header a{
	float:left;
	color: black;
	padding-top: 15px;
	padding-bottom:10%;
	text-align: center;
	background-color:white ;
	text-decoration: none;
	font-family:"Monaco", monospace ;
	font-size: 30px;
	width:25%;
}
.header a:hover{
	background-color:indianred ;
}

.header a.active{
	background-color: indianred;
}

/* FOOTER MENU*/
#footer{
	width: 100%;
	height: 100%;
	padding-left:100px;
	padding-top: 20px;
	margin: 0px;
	text-align: center;
	background-color: indianred;
	
}
.sect-footer{
	width:25%;
	float:left;
	text-align: left;
	color: white;
	text-decoration: none;
	font-family:"Monaco", monospace ;
	font-size: 15px;

}
.map-box{
	width:250px;
	height: 175px;
}

/* MENU PAGE */
.menu_line{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.menu_center{
	text-align: center;
	text-decoration: none;
	color: indianred;
	font-family: "Monaco", monospace ;
	font-size: 60px;
	font-weight: bolder;
	width:100%;
}
.menu_content{
	width:35%;
	float:left;
	margin-bottom: 50px;
  text-align: center;
}
.menu_item{
	text-align: left;
	color: black;
	font-family: "Monaco", monospace ;
	font-size: 25px;
	margin-bottom: 1px;
	padding-left: 10%;
	
}
.menu_descript{
	text-align: left;
	padding-left: 10%;
	color:black;
	font-family: "Monaco", monospace;
	font-size: 18px;
}
.note{
	color: indianred;
	text-align: center;
}


/* CONTACT PAGE */
.back_img{
	background-image: url("images/logos.jpg");
	background-color: black;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 120vh;
	width:100%;
	opacity: 1;
}

input[type=text], select, textarea{
	width:100%;
	padding:12px;
	border:1px solid;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
}

input[type=submit]{
	background-color: #04AA6D;
	color:white;
	padding: 12px 20px;
	border:none;
	border-radius: 4px;
	cursor:pointer;
}
.back{
	margin-left:auto;
	margin-right:auto;
	border-radius:5px;
	width: 50%;
	background-color: rgba(255, 99, 91, 0.8);
	padding:20px;
	color:white;
	position: relative;
	top:20vh;
	z-index: 98;
}
.titles{
	background-color: indianred;
	color:white;
	text-align: center;
	font-family: monaco, monospace;
	font-size: 4.0em;
}


/* ABOUT PAGE */
.full_sect{
	height: 60vh;
	width:100%;
}
.half_sect{
	height:100%;
	width:50%;
	float: left;
	background-color: honeydew;
	color: white;
	font-family: monaco, monospace;
	text-align: center;
	font-size: 2.5vh;
	display: flex;
	justify-content: center;
}
.image{
	width:100%;
	height:100%;
	object-fit:cover;
}
.textbox{
	background-color: indianred;
	padding:5%;
	margin:10%;
}

/*  small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #bottom {
    height: auto; 
  }
  #footer{
  	padding:0;
  }
  .sect-footer {
  	width:100%;
    text-align: center; 
    background-color: indianred;
  }
  /*CONTACT PAGE*/

  .back{
  	width:70%;
  	top: 10vh;
  }
  .titles{
  	font-size: 25px;
  }
  /*ABOUT PAGE*/
  .half_sect{
  	width:100%;

  	font-size: 0.8em;
  }
  .textbox{
  	margin:5%;
  }
  /* MENU PAGE*/
	.menu_center{
		font-size: 2.8em;
		margin-top: 15%;
	}
  .menu_item{
  	padding-left: 3%;
  	padding-right: 3%;
  	font-size: 1.4em;
  	white-space: normal;
  	text-align: center;
  }
  .menu_descript{
  	padding-left: 3%;
  	padding-right: 3%;
  	font-size: 1.2em;
  	text-align: center;
  }
  .menu_content{
  	width: 100%;
  }
  /* HEADER MENU*/
  .header{
  	height:10%;
  }
  .header a{
  font-size: 23px;
  }
  .column{
  	flex: 100%;
  	max-width: 100%;
  }
  /* INDEX PAGE */
  .announce{
  	font-size: 1.7em;
  	margin-top: 20%;
  }
  .info-lay{
	flex-wrap: wrap;
  }
  .left-info, .right-info{
	width: 100%;
	justify-content: center;
	padding-right: 0;
  }
  .right-info{
	margin-bottom: 5vh;
  }
  .left-info-style {
    text-align: left; 
	font-size: .9em;
	padding: 10px;
	justify-content:center;
}
#map{
	width: 80%;
	height: 30vh;
}

.left-img img, .right-img img {
	margin: 0 auto;
	transform: none;
  }
  .menuButton{
	margin: 0 4vh;
  }
  .menu-butt-style{
	font-size: 1.8em;
  }
  .left-img, .right-img, .menuButton{
	flex:1 1 100%;
	margin: 1em 0;
  }
  .slides{
	margin-top: 17%;
  }
}


/* For large tablets */
@media only screen and (min-width: 601px) and (max-width:992px) {

	/* FOOTER */
#bottom {
    height: auto; 
  }
  #footer{
  	padding:0;
  }
  .sect-footer {
  	width:100%;
    text-align: center; 
    background-color: indianred;
  }
 /* INDEX PAGE */
 .column {
    flex: 48%;
    max-width: 50%;
  }
  #map{
	height:35vh;
	width:85%;
  }
/*ABOUT PAGE*/
  .half_sect{
  	font-size: 20px;
  }
  .textbox{
  	margin:7%;
  }
  /*INDEX PAGE*/
.announce{
  	margin-top: 20%;
  }
  .slides{
	margin-top: 8%;
  }
  .menuButton{
	margin: 0 6vh;
}
  /* MENU PAGE*/
	.menu_center{
		margin-top: 15%;
	}
	/* CONTACT PAGE */
.titles{
	font-size: 35px;
	padding: 0;
}
.back{
	width: 70%;
	top: 8vh;
}

input[type=text], select, textarea{
	padding:10px;
}
}

/* for small desktops*/
@media only screen and (min-width: 993px) and (max-width:1200px){
/* FOOTER */
#footer{
	padding-left: 5%;
}
.sect-footer{
	font-size: 1.0em;
}
.map-box{
	width:180px;
}
/* HEADER MENU */
.header {
	height:8%;
}

/* ABOUT PAGE */
.half_sect{
	font-size: 2.0vh;
}

/* CONTACT PAGE */
.titles{
	font-size: 3.5vh;
	padding: 0;
}
.back{
	width: 70%;
	top: 8vh;
}
input[type=submit]{
	padding:10px 15px;
}
input[type=text], select, textarea{
	padding:10px;
}
}

/* FOR LARGER DESKTOPS */
@media only screen and (min-width: 1201px) and (max-width:1440px){
	/* HEADER MENU */
	.header {
	height:8%;
	}
	/*ABOUT PAGE*/
  .half_sect{
  	font-size: 3.0vh;
  }
  .textbox{
  	margin:8%;
  }
  /* CONTACT PAGE */
.titles{
	font-size: 5.0vh;
	padding: 0;
}
.back{
	width: 70%;
	top: 8vh;
}
input[type=submit]{
	padding:8px 12px;
}
input[type=text], select, textarea{
	padding:10px;
}

}

/* PHONE and TABLET LANDSCAPE */
@media only screen and (max-width:945px) and (orientation: landscape) {
/*HEADER MENU */ 
  .header{
  	height:7%;
  }
  .header a{
  font-size: 2.8vh;
  }
/*ABOUT PAGE*/
  .half_sect{
  	font-size: 3.0vh;
  }
  .textbox{
  	margin:5%;
  }
/* CONTACT PAGE */
.titles{
	font-size: 3.5vh;
	padding: 0;
}
.back{
	width: 75%;
	top: 7vh;
}
input[type=submit]{
	padding:5px 8px;
}
input[type=text], select, textarea{
	padding:8px;
	}
	/*index page*/
	.slides{
		margin-top: 2%;
	  }
}
